<nav class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">

    <div class="container"><div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <a class="navbar-brand" ui-sref-active="active" ui-sref="home">TME</a>

        <ul class="nav navbar-nav">
            <li ui-sref-active="active" ui-sref="home"><a href>Home</a></li>
            <li ui-sref-active="active" ui-sref="book"><a href>Examples from the book</a></li>
        </ul>


    </div></div>

</nav>
